.topcorner {
    position: absolute;
    top: 0;
    right: 0;
}

.selected {
    color: blue;
}

.dark-mode {
    filter: invert(1) hue-rotate(180deg);
}

.w-b-1-circle {
    background-color: #ffffff;
    height: 60px;
    width: 50px;
    text-align: center;
    border-radius: 4px;
    margin: 4px;
    border: 2px solid #C0C1C3;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
}

.w-b-1-circle span {
    position: relative;
    top: 10px;
    font-weight: 500;
}

.feeClass {
    width: 100px;
    height: 60px;
    background-color: #cccccc;
    /* margin: 10px; */
    text-align: center;
}

.static {
    opacity: 0.5;
    pointer-events: none;
}



.app {
    width: 100%;
}

.w-b-1 {
    background-color: #E6E6E7;
    height: 60px;
    width: 95px;
    text-align: center;
    border-radius: 0px;
    margin: 1px;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    position: relative;

}

.w-h-1 {
    background-color: #E6E6E7;
    height: 60px;
    width: 95px;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 50px;
    margin: 0px;
    /* box-shadow: 1px -1px 11px 1px rgba(23,21,21,0.2) inset;
    -webkit-box-shadow: 1px -1px 11px 1px rgba(23,21,21,0.2) inset;
    -moz-box-shadow: 1px -1px 11px 1px rgba(23,21,21,0.2) inset; */
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    position: relative;

}

.w-b-1:hover {
    border: 2px solid #F4992F;
}

.w-b-1 .fa-4x {
    font-size: 3.5em !important;
}

.w-b-1 span,
.w-b-1 i {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.txtcenter {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body{
    max-height: 768px;
    overflow: hidden;
}
body .row,
body .col-5,
body .col-7,
body .col,
body .col-12 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
   
}

.w-1 {
    background-color: #E6E6E7;
    height: 55px;
    width: 95px;
    text-align: center;
    border-radius: 0px;
    margin: 1px;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

/* .w-1
{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 60px;
    text-align: center;
    border-radius: 4px;
    margin: 4px;
   
    color: #000000;
    font-size: 14px;
    font-weight: 500;
} */
.w-1-grey {
    background-color: #E6E6E7;
    height: 60px;
    width: 96px;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 0px;
    margin: 0px;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.settingCircle {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    margin: 4px;
    padding: 10px;
    /* box-shadow: 1px -1px 11px 1px rgba(23,21,21,0.2) inset;
    -webkit-box-shadow: 1px -1px 11px 1px rgba(23,21,21,0.2) inset;
    -moz-box-shadow: 1px -1px 11px 1px rgba(23,21,21,0.2) inset;*/
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}

.iconColor {
    color: #5F85C1;
}

.w-r-1 {
    background-color: #D73133;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 4px;
    margin: 4px;
    box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    -webkit-box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    -moz-box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
}

.orderDisplay {
    color: #6C93C8;

}

.deletedTopping {
    color: red;
    position: relative;
    top: 20px;
    left: 12px;
}

.drinkClass {
    background-color: #B3B3B3;
    color: #000000;
}

.ronnysDrinkClass {
    background-color: #B7E5B3;
    color: #000000;
}

.extraClass {
    background-color: #E6E6E7;
    color: #000000;
}

.pizzaClass {
    background-color: #9EC1E6;
    color: #000000;
}

.cookieClass {
    background-color: #EC8B74;
    color: #000000;
}

.stickClass {
    background-color: #FDFFC2;
    color: #000000;
}

.cheeseClass {
    background-color: #FBCE41;
}

.meatClass {
    background-color: #9EC1E6;
}

.vegieClass {
    background-color: #9CCE77;
}

.seasoningClass {
    background-color: #C7C6C6;
}

.w-blue-1 {
    background-color: #205192;
    height: 60px;
    width: 100%;
    text-align: center;
    margin: 4px;
    box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    -webkit-box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    -moz-box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 500;
}

.w-green-1 {
    background-color: #49B25D;
    height: 60px;
    width: 100%;
    text-align: center;
    margin: 4px;
    box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    -webkit-box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    -moz-box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 500;
}

.w-p-1 {
    background-color: #BD7795;
    height: 60px;
    width: 60px;
    text-align: center;
    margin: 4px;
    box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    -webkit-box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    -moz-box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
}

.w-e-1 {
    background-color: #ffffff;
    height: 60px;
    width: 60px;
    text-align: center;
    margin: 4px;
    color: #ccc;
    font-size: 14px;
    font-weight: 500;
}

.w-y-1 {
    background-color: #F89E38;
    height: 60px;
    width: 60px;
    text-align: center;
    margin: 4px;
    box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    -webkit-box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    -moz-box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
}

.w-cisferi-1 {
    background-color: #5DCCF5;
    height: 60px;
    width: 60px;
    text-align: center;
    margin: 4px;
    box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    -webkit-box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    -moz-box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
}

.w-litegreen-1 {
    background-color: #8ECA73;
    height: 60px;
    width: 100%;
    text-align: center;
    margin: 4px;
    box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    -webkit-box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    -moz-box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}

.w-whitenmin-1 {
    background-color: #ffffff;
    height: 60px;
    width: 60px;
    text-align: center;
    margin: 4px;
    box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    -webkit-box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    -moz-box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}

.w-greenmin-1 {
    background-color: #8ECA73;
    height: 60px;
    width: 60px;
    text-align: center;
    margin: 4px 0;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}

.w-purplenmin-1 {
    background-color: #B797C5;
    height: 60px;
    width: 60px;
    text-align: center;
    margin: 4px 0;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}

.w-brown-1 {
    border: 4px solid #F89E38;
    background-color: none;
    height: 60px;
    width: 60px;
    text-align: center;
    margin: 4px;
    box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    -webkit-box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    -moz-box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    color: #000000;
    font-size: 14px;
    font-weight: 500;

}

.w-brown-1:hover {

    box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2);
    -webkit-box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2);
    -moz-box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2);


}

.w-g-1 {
    background-color: #004006;
    height: 60px;
    width: 60px;
    text-align: center;

    margin: 4px;
    box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    -webkit-box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    -moz-box-shadow: 1px -1px 11px 1px rgba(23, 21, 21, 0.2) inset;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
}

.green {
    background-color: #49B25D;
}

.yellow {
    background-color: #e0de59;
}

.red {
    background-color: #D23A32;
}

.white {
    background-color: #FFFFFF;
}

.pink {
    background-color: #BD7795;
}

.blue {
    background-color: #205192;
}

.gray {
    background-color: #E6E6E7;
}

.circle {
    border-radius: 40px !important;
}

.square {
    border-radius: 0px !important;
}

.padding

.table {
    margin-bottom: 0px !important;
}

.table td,
.table th {
    padding: 0 !important;
}

.active {
    border: 3px solid #F60005 !important;
    box-sizing: border-box;
}

.active_default {
    border: 3px solid #353232 !important;
    box-sizing: border-box;
}


.cross {

    width: 103px;
    height: 60px;
    margin-left: 0px;
    border-bottom: 5px solid #353232;
    -webkit-transform: translateY(-20px) translateX(5px) rotate(27deg);
    position: absolute;
    top: -10px;
}

.quantityActive {
    border: 2px solid #F60005 !important;
    box-sizing: border-box;
}


.paddingClear {
    padding: 0px !important;
}

.topMargin {
    top: 16px;    
}
.size_static {
    opacity: 0.5 !important;
    pointer-events: none !important;
}

.size_active {
    opacity: 1;
    pointer-events: auto;
}

.cut_static {
    opacity: 0.5;
    pointer-events: none;
}

.cut_active {
    opacity: 1;
    pointer-events: auto;
}

.tel {
    background-color: #E7E7E8;
    font-size: 16px;
    color: #5F85C1;
    vertical-align: middle;
    display: table-cell;
    width: 200px;
    height: 50px;
    padding: 10px;
    border: 1px solid #BEC0C1;
    border-radius: 5px;
    vertical-align: middle;
}

.adr {
    color: #000000;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 10px;
    width: 80%;
}

/* 
.p_binder {
    display: none;
} */

.modal-dialog {
    width: 100%;
    top: 10px;
    /* height: 100%; */
    padding: 0;
}

.modal-content {
    height: 100%;
    border-radius: 0;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: top;
}

.clearBtn {
    color: #ffffff;
}

.calcBtn {

    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    height: 60px;
    text-align: center;
    border-radius: 4px;
    border-color: #000000;
    border-width: 2px;
    border: 2px solid #ECECEC;
    /* margin: 4px; */
    /* box-shadow: 1px -1px 11px 1px rgba(23,21,21,0.2) inset;
        -webkit-box-shadow: 1px -1px 11px 1px rgba(23,21,21,0.2) inset;
        -moz-box-shadow: 1px -1px 11px 1px rgba(23,21,21,0.2) inset;*/
    color: #000000;
    font-size: 14px;
    font-weight: 500;

}

.blue {
    background-color: #5DCCF5;
}

.green {
    background-color: #49B25D;
}

.lightGreen {
    background-color: #70ec87;
}

.red {
    background-color: #D23A32;
}

.navTabs {
    border: none;
}

.activeTab {
    border: 0px solid green !important;
    box-sizing: border-box;
}

/* Material Styleing  */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 3.5rem;
    margin-top: 0px !important;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}




/*-------------------*/


.right-3 {
    position: absolute;
    bottom: 32px;
    width: 100%;
}

.left-1 {
    height: 160px;padding: 10px;
}

.left-2 {
    height: 600px;
    overflow: auto;
    padding: 10px;
}

.container-12,
.container-sm,
.container-md,
.container-lg {
    width: 1024px !important;
    padding: 0px !important;
    margin: 0px !important;
}

.iconPlus, .iconMinus
{
    font-size: 3em !important;
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,.05);
    border-radius: 4px;
}
.itemQty
{
    font-size: 24px;
}
.titleInner
{
    height: 40px;
    background-color: rgba(0,0,0,.12);
    width: 100%;
    margin: 20px 0;
}
.itemName
{
    position: absolute;
    top: 21px;
    left: 20px;
    font-size: 16px;
    max-width: 170px;
    word-break: break-word;
    line-height: 18px;
}
.itemPrice
{
    position: absolute;
    top: 23px;
    left: 200px;
    font-size: 16px;
}
.toppingInner
{
    position: relative;
    top: 50px;
    left: 30px;
    font-size: 14px;
    margin-bottom: 30px;
}
.toppingPrice
{
    position: absolute;
    right: 40px;
}
.toppingSticInner
{
    position: relative;
    top: 50px;
    left: 10px;
    font-size: 14px;
    margin-bottom: 30px;
}
.toppingSticPrice
{
    position: absolute;
    right: 20px;
}
.goBack
{
    margin-right: 20px;
}
.addCustomer
{
    margin-right: 20px;
}


@media (min-width: 960px) {
    .container-12 {
        max-width: 1024px !important;
        padding: 0px !important;
        margin: 0px !important;
    }
}